//Colors
$color-primary: #0E1A31;
$color-secondary: #FF0000;
$color-accent: #F5F5F7;
$color-background: #FFFFFF;
$color-white: #FFFFFF;
$color-black: #000000;
$color-text-dark: $color-black;
$color-text-white: $color-white;

//Typography
$font-primary: 'Poppins';
$font-secondary: 'Oswald';
$font-tertiary: 'Outfit';
$font-size-base: 18px;
$font-size-h1: 80px;
$font-size-h3: 30px;
