@use "../variables" as *;

.aboutUsSection {
    width: auto;
    height: 900px;
    background-color: $color-secondary;
    display: flex;
}

.content {
    width: 640px;
    height: 518.75px;
    margin-top: 190.63px;
    margin-left: 40px;
    color: $color-white;
}

.icon {
    width: 75px;
    height: 78.75px;
    margin-top: 8px;
    margin-left: 32px;

}

.title {
    width: 576px;
    height: 180px;
    margin-top: 30x;
    margin-left: 32px;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: $font-size-h1;
    line-height: 90px;
    letter-spacing: 0%;
    text-transform: uppercase;


}

.description {
    width: 552px;
    height: 106px;
    margin-top: 35px;
    margin-left: 32px;
    font-family: $font-primary;
    font-weight: 500;
    font-size: $font-size-base;
    line-height: 27px;
    letter-spacing: 0%;
    margin-bottom: 31px;
}

.ctaButton {
    width: 268px;
    height: 50px;
    margin-left: 32px;
    background-color: $color-white;
    color: $color-text-dark;
    font-family: $font-tertiary;
    font-weight: 700;
    font-size: $font-size-base;
    line-height: 20px;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding: 15px 55px;
    
}

.imageBackground {
    background-image: url("/assets/about-us-Image.png");
    width: 720px;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
}