@use "../variables" as *;
.about {
    width: 100%;
    height: 994px;
    background-color: $color-white;
    
}

.title {
    width: 1133px;
    height: 90px;
    margin: 128px 153px;
    font-family: $font-secondary;
    font-weight: 600;
    font-size: 80px;
    text-box-trim: none;
    line-height: 90px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    

}

.red {
    background-color: $color-secondary;
}

.row {
    display: flex;
   margin-right: 58px;
}

.imageContainer {
    background-image: url('/assets/about.png');
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 538px;
    opacity: 1;
    padding-top: 328px;
    margin-left: 128px;
    filter: blur(0px);
    flex-shrink: 0;
}

.description {
    
    width: 677px;
    height: 538px;
    opacity: 1;
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h3 {
    width: 549px;
    height: 88px;
    opacity: 1;
    padding-top: 48px;
    padding-left: 64px;


}

.h3Content {
    width: 459px;
    height: 79px;
    font-family: $font-secondary;
    font-weight: 600;
    font-size: $font-size-h3;
    line-height: 34px;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.paragraph {
    width: auto;
    height: 106px;
    opacity: 1;
    padding-top: 29px;
    padding-left: 64px;
    font-family: $font-primary;
    font-weight: 400;
    font-size: $font-size-base;
    line-height: 27px;
    letter-spacing: 0%;

}

.contact {
    width: auto;
    opacity: 1;
    padding-left: 64px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 40px;
}

.contactButton {
    width: 265px;
    height: 57px;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-tertiary;
    font-weight: 600;
    font-size: $font-size-base;
    line-height: 27px;
    text-transform: uppercase;
    color: $color-white;
}

.VerticalLine {
    width: 1px;
    height: 57px;
    background-color: $color-white;
    margin: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    width: 232px;
    height: 48px;
    opacity: 1;
   
}