@use "../variables" as *;

.banner {
  position: relative;
  width: 100%;
  height: 96px;
  box-shadow: 0px 15px 20px 0px #1b1b1d0d;
  background-color: $color-primary;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*overflow: hidden;*/
}

.bannerContent {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1280px;
  height: 60px;
  padding: 17px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }

  .nav {
    display: flex;
    gap: 20px;
    font-family: Oswald;
    font-weight: 600;
    font-size: $font-size-base;
    line-height: 20px;
    text-transform: uppercase;
    align-items: center;
    flex: 1 1 auto;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
  }

  .login {
    min-width: 200px;
    height: 50px;
    font-family: Outfit;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: $color-secondary;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.bannerImage {
  position: absolute;
  right: 0;
  top: 0;
  height: 900px;
  width: 658px;
  max-width: 40%;
  min-width: 300px;
  background-image: url("/assets/banner-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  pointer-events: none;
  flex-shrink: 0;
}
