@use "../variables" as *;

.ctaSection {
    background-color: $color-white;
    width: 100%;
    // La hauteur finale de la section (conforme à la maquette: 854px)
    height: 854px; 
    padding: 0;
    
    // Le contenu .content est centré dans .ctaSection
    display: flex;
    justify-content: center; // Centrage horizontal de l'enfant .content
    align-items: center;     // Centrage vertical de l'enfant .content
}

.content {
    // La boîte bleue qui contient tout, définie pour une largeur max
    width: 1000px; 
    height: 766px; // Hauteur interne (854px - 88px de marges verticales)
    background-color: $color-primary;
    color: $color-white;
    
    // 1. Activer Flexbox pour empiler et centrer le contenu
    display: flex;
    flex-direction: column; // Empile les éléments verticalement
    justify-content: center; // Centre les éléments verticalement au milieu du bloc
    align-items: center;     // Centre les éléments horizontalement (titre, icône, bouton)
    
    // 2. Positionnement pour les éléments décoratifs (enfants)
    position: relative; 
    
    // Suppression des marges pour un centrage propre
    margin: 0; 
}

/* --- Éléments du Contenu Centré --- */

.bal {
    // Icône du ballon au-dessus du titre
    // Suppression des marges fixes
    margin-bottom: 25px; 
    width: 100px; 
    height: 100px;
}

.title {
    // Le titre est centré grâce au parent .content
    width: auto; // Largeur automatique pour s'adapter au texte
    text-align: center; // Important pour le centrage interne des lignes
    
    // Suppression des marges fixes
    margin: 0 0 60px 0; 
    
    // Styles de police (conservés)
    font-family: $font-secondary;
    font-weight: 700;
    font-size: $font-size-h1;
    line-height: 90px;
    text-transform: uppercase;
}

.ctaButton {
    // Le bouton est centré grâce au parent .content
    background-color: $color-secondary;
    color: $color-white;
    display: flex;
    // Le bouton est déjà Flexbox dans ton JSX (display: flex)
    justify-content: center; // Centrer le texte et l'icône dans le bouton
    align-items: center;
    gap: 14px;
    
    // Dimensions
    width: 317px;
    height: 51px;
    padding: 13px 55px; // Ajuster le padding plutôt que la largeur
    
    // Styles de police (conservés)
    font-family: $font-tertiary;
    font-weight: 600;
    font-size: $font-size-base;
    text-transform: uppercase;
}

.balle {
    // Icône dans le bouton
    width: 20px;
    height: 21px;
}

/* --- Positionnement des Décorations (Absolute) --- */

.decorations {
    // Doit être en position absolue pour flotter autour
    position: absolute;
    width: 100%;
    height: 100%;
}

.decorationLeft {
    // Positionné en bas à gauche de .content
    position: absolute;
    bottom: 134px; // Basé sur la mesure de la maquette (88px - 29px)
    left: 59px; // Basé sur la mesure de la maquette
}

.decorationRight {
    // Positionné en bas à droite de .content
    position: absolute;
    bottom: 0; 
    right: 119px;
}