@use "../variables" as *;
.data {
  width: auto;
  height: 1170px;
  background-color: $color-primary;
  color: $color-white;
  margin-top: -120px;
}

.title {
  width: 1184px;
  height: 180px;
  padding-top: 128px;
  padding-left: 128px;
}

.h1 {
  font-family: $font-secondary;
  font-weight: 700;
  font-style: Bold;
  font-size: $font-size-h1;
  line-height: 90px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.red {
  background-color: $color-secondary;
}

.row {
  display: flex;
  width: 100%;
  /* let the row height grow to fit its children */
  height: 497px;
  margin-top: 270px;
  align-items: flex-start;
}

.imageContainer {
  background-image: url("/assets/data.png");
  background-size: cover;
  background-position: center;
  width: 507px;
  height: 497px;
  opacity: 1;
  flex-shrink: 0;
  margin: 0 0 0 128px;
}

.description {
  width: 676px;
  height: 497px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-accent;
  color: $color-text-dark;
  margin: 0;
  padding-right: 128px;
  gap: 43px;
}

.h3 {
  width: 496px;
  height: 34px;
  opacity: 1;
  margin-top: 48px;
  margin-left: 64px;
}

.h3Content {
  font-family: $font-secondary;
  font-weight: 600;
  font-style: SemiBold;
  font-size: $font-size-h3;
  line-height: 34px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.paragraph {
  width: 646px;
  height: 100px;
  opacity: 1;
  /*padding-top: 43px;*/
  padding-left: 64px;
  font-family: $font-primary;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: 24px;
  letter-spacing: 0%;
}

.loginButton {
  width: 265px;
  height: 50px;
  opacity: 1;
  margin-bottom: 48px;
  margin-left: 64px;
  background-color: $color-secondary;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-family: $font-tertiary;
  font-weight: 600;
  font-size: $font-size-base;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-white;
  padding: 13px 0px;
}

.howdidyou {
  width: auto;
  height: 225px;
  background-color: $color-secondary;
}

.howdidyouContent {
  display: flex;
  padding-left: 290px;
  padding-top: 57px;
  gap: 20px;

}

.howdidyouTitle {
  font-family: $font-secondary;
  font-weight: 700;
  font-style: Bold;
  font-size: $font-size-h3;
  line-height: 34px;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: 218px;
  height: 34px;
  opacity: 1;
}

.funFactText {
  width: 836px;
  height: 25px;
  margin: 26px 313px 83px 290px;
  font-family: $font-primary;
  font-weight: 500;
  font-size: $font-size-base;
  line-height: 27px;
  letter-spacing: 0%;

}