@use "../variables" as *;
@use "../mixins";
.data {
  width: auto;
  height: 1170px;
  background-color: $color-primary;
  color: $color-white;
  margin-top: -120px;
}

.title {
  width: 1184px;
  height: 180px;
  padding-top: 128px;
  padding-left: 128px;
}

.h1 {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: $font-size-h1;
  line-height: 90px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.red {
  background-color: $color-secondary;
}

.row {
  display: flex;
  width: 100%;
  /* let the row height grow to fit its children */
  height: 497px;
  margin-top: 270px;
  align-items: flex-start;
}

.imageContainer {
  background-image: url("/assets/data.png");
  background-size: cover;
  background-position: center;
  width: 507px;
  height: 497px;
  opacity: 1;
  flex-shrink: 0;
  margin: 0 0 0 128px;
}

.description {
  width: 676px;
  height: 497px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-accent;
  color: $color-text-dark;
  margin: 0;
  padding-right: 128px;
  gap: 43px;
}

.h3 {
  width: 496px;
  height: 34px;
  opacity: 1;
  margin-top: 48px;
  margin-left: 64px;
}

.h3Content {
  font-family: $font-secondary;
  font-weight: 600;
  font-style: SemiBold;
  font-size: $font-size-h3;
  line-height: 34px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.paragraph {
  width: 646px;
  height: 100px;
  opacity: 1;
  /*padding-top: 43px;*/
  padding-left: 64px;
  font-family: $font-primary;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: 24px;
  letter-spacing: 0%;
}

.loginButton {
  width: 265px;
  height: 50px;
  opacity: 1;
  margin-bottom: 48px;
  margin-left: 64px;
  background-color: $color-secondary;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-family: $font-tertiary;
  font-weight: 600;
  font-size: $font-size-base;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-white;
  padding: 13px 0px;
}

.howdidyou {
  width: auto;
  height: 225px;
  background-color: $color-secondary;
}

.howdidyouContent {
  display: flex;
  padding-left: 290px;
  padding-top: 57px;
  gap: 20px;
}

.howdidyouTitle {
  font-family: $font-secondary;
  font-weight: 700;
  font-style: Bold;
  font-size: $font-size-h3;
  line-height: 34px;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: 218px;
  height: 34px;
  opacity: 1;
}

.funFactText {
  width: 836px;
  height: 25px;
  margin: 26px 313px 83px 290px;
  font-family: $font-primary;
  font-weight: 500;
  font-size: $font-size-base;
  line-height: 27px;
  letter-spacing: 0%;
}

@include mixins.mobile {
  .data {
    height: 1280px; // Laisse le contenu définir la hauteur
    margin-top: 0; // Suppression du chevauchement avec la section précédente
    padding: 0 20px; // Padding latéral pour centrer le contenu
  }

  /* 1. Titre */
  .title {
    width: 100%;
    padding-top: 40px;
    padding-left: 0; // Suppression des marges fixes
    margin-bottom: 20px;
  }
  .h1 {
    font-size: 40px;
    line-height: 48px;
    text-align: left; // Aligné à gauche sur mobile
  }

  /* 2. Ligne (Passage en colonne, Contenu puis Image) */
  .row {
    flex-direction: column-reverse; // ⬅️ Empile Image et Description
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  /* 3. Colonne Image */
  .imageContainer {
    // L'image est affichée en haut (avant la description dans le HTML)
    width: 100%;
    height: 250px; // Hauteur réduite pour mobile
    margin-left: 0;
    margin-bottom: 20px; // ⬅️ Marge pour séparer de la description
  }

  /* 4. Colonne Description */
  .description {
    width: 100%;
    height: auto;
    padding: 20px; // Padding interne uniforme
    padding-right: 20px;
    margin-left: 0;
  }

  /* 5. Contenu Interne de Description */
  .h3,
  .paragraph {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }
  .h3Content {
    font-size: 20px;
    line-height: 28px;
  }
  .loginButton {
    width: 100%;
    margin-left: 0;
    justify-content: center;
    padding-left: 0;
    margin-top: 20px;
  }

  /* 6. Fun Fact Banner */
  .howdidyou {
    height: 243px;
    /* Expand to full viewport width on mobile and remove margins introduced by parent padding */
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 0; /* no inner negative padding */
    background-color: $color-secondary;
  }

  .howdidyouContent {
    flex-direction: column;
    padding: 20px; // Padding réduit
    padding-left: 20px;
    padding-top: 30px;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
  }
  .funFactText {
    width: 100%;
    margin: 10px 0 30px 0;
    padding: 0 20px;
  }
}
