
@use"../variables" as *;
@use "../mixins" ;

.organize {
    width: auto;
    height: 1097px;
    background-color: $color-background;
}

.title {
    width: 1184px;
    height: 180px;
    padding-top: 128px;
    padding-left: 128px;
    margin-bottom: 110px;

}

.h1 {
    padding-top: -14px;
    font-family: $font-secondary;
    font-weight: 600;
    font-size: $font-size-h1;
    line-height: 90px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    display: flex;
}

.red {
    display: inline-block;
    background-color: $color-secondary;
    padding: 0 10px;
}

.white {
    color: $color-white;
}

.row {
    display: flex;
    padding-top: 110px;
}

.imageContainer {
    background-image: url("/assets/organize.png");
    background-size: cover;
    background-position: center;
    width: 507px;
    height: 551px;
    opacity: 1;
    flex-shrink: 0;
    margin: 0 0 0 128px;
}

.description {
    width: 676px;
    height: 551px;
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 128px;
}
.h3 {
    width: 548px;
    height: 68px;
    margin: 40px 64px;

}
.h3Content {
    width: 546px;
    height: 79px;
    padding-top: -6px;
    font-family: $font-secondary;
    font-weight: 600;
    font-size: $font-size-h3;
    line-height: 34px;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.paragraph {
    width: 546px;
    height: 106px;
    margin-top: -23px;
    margin-left: 64px;
    font-family: $font-primary;
    font-weight: 400;
    font-size: $font-size-base;
    line-height: 27px;
    letter-spacing: 0%;
}

.organizeFooter {
    display: flex;
    margin-left: 64px;
    margin-bottom: 50px;
    gap: 15px;
    align-items: center;
}

.loginButton {
    width: 300px;
    height: 70px;
    background-color: $color-secondary;
    display: flex;
    justify-content: space-between;
    font-family: $font-tertiary;
    font-weight: 600;
    font-size: $font-size-base;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-white;
    padding-left: 55px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 10px;
}

.bal {
    text-align: center;
    padding-bottom: 20px;
}

.lineVertical {
    width: 0.92px;
    height: 70px;
    background-color: $color-white;
    align-items: center;
}

.logo {
    width: 214px;
    height: 48px;
    
}
@include mixins.mobile {
    .organize {
        width: 100%;
        height: auto; /* Laisser la hauteur s'adapter au contenu */
        padding: 0 20px 40px 20px; /* Padding latéral et bas pour éviter le collage */
    }
    
    /* 1. Titre Segmenté */
    .title {
        width: 100%;
        height: auto;
        padding-top: 40px; /* Moins d'espace en haut */
        padding-left: 0;
        margin-bottom: 20px;
    }
    
    .h1 {
        // Rendre le titre aligné à gauche sur mobile et réduire sa taille
        text-align: left;
        display: block; /* Important pour forcer les blocs à s'aligner à gauche */
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        // Supprime les marges fixes et ajoute une petite marge pour l'alignement
        margin-left: 0; 
    }
    
    .red {
        display: inline-block;
        padding: 0 10px;
        margin-right: 5px; // Espace entre le bloc rouge et le mot suivant
    }

    /* 2. Colonne Flex (.row) - Empilement */
    .row {
        flex-direction: column-reverse; /* Description puis Image */
        width: 100%;
        height: auto;
        padding-top: 0;
        gap: 20px;
    }

    .imageContainer {
        width: 100%;
        height: 260px; /* Hauteur réduite pour mobile */
        margin: 0; 
    }

    .description {
        width: 100%;
        height: auto;
        padding: 20px;
        padding-right: 20px; /* Remplacer les 128px fixes par 20px */
        box-sizing: border-box;
    }

    /* 3. Contenu de la Description */
    .h3, .h3Content, .paragraph {
        width: 100%;
        margin-left: 0;
        padding: 0; /* Supprimer les paddings/marges internes fixes (64px) */
    }
    .h3Content {
        font-size: 20px;
        line-height: 26px;
    }
    .paragraph {
        font-size: 16px;
        line-height: 24px;
        margin-top: 15px; /* Marge pour séparer les paragraphes */
    }
    
    /* 4. Footer (Bouton et Logo) - Empilement */
    .organizeFooter {
        // Le footer doit s'empiler pour que le bouton prenne toute la largeur
        flex-direction: column; 
        gap: 15px;
        margin-left: 0;
        align-items: center; // Centrer le logo et le bouton dans la largeur
        padding-top: 20px;
    }

    .loginButton {
        width: 100%; // Bouton pleine largeur
        height: auto;
        padding: 14px 18px;
        justify-content: center; // Centrer le contenu du bouton
    }

    .lineVertical {
        display: none; // Masquer la ligne verticale
    }

    .logo {
        // Redimensionner le logo pour qu'il soit plus petit et centré
        width: 160px;
        height: auto;
        margin-top: 10px;
        align-self: center;
    }
}